:root {
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --SLATE: #434455;
    --WHITE: #FFFFFF; 
}
/* index page */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* header */
 .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
 }
.logo-link{
    color: #2e2f42;
    text-decoration: none;
}
.list {
    list-style: none;
}
.list-item>.links{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    text-decoration: none;
}
.list-item>.links:hover,
.list-item>.links:focus {
    color: #404bbf;
}
.contact>.contact-link{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;
}

.contact-link:hover {
    color: #404bbf;
}
.contact-link:hover {
    color: #404bbf;
}
/* section1 */
.header{
    ba
}
